@font-face {
  font-family: "Brand Sans";
  src: local("Segoe UI"), local("Helvetica Neue"), local("Arial"), sans-serif;
}

.font-small {
  font-size: 14px;
  line-height: 20px;
}

.font-13 {
  font-size: 13px;
  line-height: 20px;
}

.font-20 {
  font-size: 20px;
  line-height: 28px;
}

.font-weight-regular {
  font-weight: 400;
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-bold {
  font-weight: 700;
}